.search-results-container {
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 1px 2px var(--border-color);
  }
  
  .search-results-container h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
  }
  
  .search-results-content {
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }
  
  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    color: var(--text-color);
    height: 582px;
  }
  
  .empty-state p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  .empty-state.error {
    color: var(--error-color);
  }
  
  .results-list {
    display: flex;
    flex-direction: column;
  }